@page "/"
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>

        <div class="d-flex flex-wrap gap-4 pa-3 justify-center">
            @if (isLoading)
            {
                <MudProgressCircular Indeterminate="true" />
            }
            else
            {
                @foreach (var item in items)
                {
                    <ItemCard Item="@item"></ItemCard>
                }
            }
        </div>
        
    </Authorized>
    <NotAuthorized>
        @{
            Navigation.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>

