@page "/invoice/{InvoiceId:int}/failure"

<div class="d-flex align-content-center justify-center gap-3 mt-3">
    @if (isLoading)
    {
        <div class="d-flex justify-center">
            <MudProgressCircular Indeterminate="true" />
        </div>
    }
    else
    {
        @if (unexpectedError)
        {
            <MudAlert Class="d-flex justify-center" Severity="Severity.Error">Some unexpected error occcurred.</MudAlert>
            <div class="d-flex justify-center">
                <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="OnClickContinueShopping">Back to Home</MudButton>
            </div>
        }
        else
        {
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6"><b>Invoice #@invoice!.InvoiceId</b></MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="d-flex flex-column gap-2">
                    <MudPaper Class="d-flex flex-column gap-1" Elevation="0">
                        <MudTable Items="@invoice!.Order!.OrderItems" Elevation="0" Dense="true">
                            <HeaderContent>
                                <MudTh><b>Service Name</b></MudTh>
                                <MudTh><b>Quantity</b></MudTh>
                                <MudTh><b>Price</b></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Service Name">@context.Item!.Name</MudTd>
                                <MudTd DataLabel="Quantity">x @context!.Quantity</MudTd>
                                <MudTd DataLabel="Price">@context.Item!.Currency!.Symbol @context.Item!.Price.ToString("N2")</MudTd>
                            </RowTemplate>
                        </MudTable>
                        <div class="d-flex flex-row justify-end pr-3 pb-3">
                            <MudText Class="d-flex">
                                <b>Total Price: @invoice!.Order!.OrderItems![0].Item!.Currency!.Symbol @(invoice!.Order.OrderItems.Select(x => x.Quantity * x.Item!.Price).Sum().ToString("N2"))</b>
                            </MudText>
                        </div>
                    </MudPaper>
                    <MudDivider></MudDivider>
                    <MudAlert Class="d-flex justify-center" Severity="Severity.Warning">Payment failed</MudAlert>
                </MudCardContent>
                <MudCardActions Class="d-flex gap-4 justify-center">
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="OnClickContinueShopping">Back to Home</MudButton>
                </MudCardActions>
            </MudCard>
        }
    }
</div>