@page "/plan"

<div class="d-flex flex-column align-content-center justify-center gap-2">
    @if (isLoading)
    {
        <div class="d-flex justify-center">
            <MudProgressCircular Indeterminate="true" />
        </div>
    }
    else
    {
        <div class="d-flex flex-md-row flex-column justify-content-center gap-4 pa-4 mt-2">
            @foreach (var subscriptionPlan in subscriptionPlans)
            {
                <MudCard Style="width:270px">
                    <MudCardContent Class="d-flex flex-column gap-2">
                    <MudText Class="d-flex justify-content-center" Typo="Typo.h6">@subscriptionPlan.Name</MudText>
                        <MudDivider></MudDivider>
                        <MudText Class="d-flex justify-content-center" Typo="Typo.h4">@subscriptionPlan!.Currency!.Symbol @subscriptionPlan!.Price</MudText>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="() => OnChooseSubscriptionPlanAsync(subscriptionPlan.SubscriptionPlanId)">Choose</MudButton>
                    </MudCardActions>
                </MudCard>
            }
        </div>
    }
</div>