<MudCard Elevation="1" Style="width:300px">
    <MudCardContent Style="height:95px">
        <MudText><b>@Item!.Name</b></MudText>
        <MudText Style="font-size:12px">@Item!.Merchant!.Name </MudText>
        <MudDivider></MudDivider>
        <MudText Typo="Typo.body2">@Item!.Description </MudText>
    </MudCardContent>
    <MudCardActions Class="d-flex justify-content-between align-baseline  ps-4">
        <MudText Typo="Typo.h6">@Item!.Currency!.Symbol @Item!.Price</MudText>
        <div class="d-flex align-baseline gap-3">
            <MudNumericField @bind-Value="@quantity" Variant="Variant.Text" Min="1" Style="width:50px"/>
            <MudTooltip Text="Add to Cart">
                <MudIconButton Icon="@Icons.Material.Filled.AddShoppingCart" Variant="Variant.Filled" Color="Color.Secondary" OnClick="OnAddToCartAsync" />
            </MudTooltip>
            
        </div>
    </MudCardActions>
</MudCard>