@page "/"

<div class="d-flex align-content-center justify-center gap-3 mt-3">
    <MudGrid Class="justify-space-between" Style="max-width: 400px;">
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h6">HSBC Bank</MudText>
            </div>
        </MudItem>
    </MudGrid>
</div>
