@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Dense="true" Color="Color.Primary">
        <MudTooltip Text="Home" Delay="600">
            <div class="cursor-pointer" @onclick="OnClickHome">
                <MudText Typo="Typo.h6">Law Publishing Agency</MudText>
            </div>
        </MudTooltip>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudTooltip Text="Profile">
                    <MudIconButton Icon="@Icons.Material.Filled.Person" OnClick="OnClickLogout" Color="Color.Inherit" />
                </MudTooltip>
                <MudTooltip Text="Shopping Cart">
                    <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" OnClick="OnClickLogout" Color="Color.Inherit" />
                </MudTooltip>
                <MudTooltip Text="Logout">
                    <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="OnClickLogout" Color="Color.Inherit" />
                </MudTooltip>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>